services:
   - type: web
     name: email-categorizer-frontend
     env: static
     buildCommand: npm install && npm run build
     staticPublishPath: ./dist
     envVars:
        - key: NODE_VERSION
          value: 18.17.0
